    <tr id="<%= anime.id %>">
        <td><%= anime.nombre %></td>
        <td><%= anime.numero %></td>
        <td><%= anime.suma %></td>
        <td><%= link_to 'Show', anime %></td>
        <td><%= link_to 'Edit', edit_anime_path(anime) %></td>
        <td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>