<%= form_for(@anime, remote: true) do |f| %>


  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="actions">
    <%= f.submit 'guardar nime' %>
  </div>
<% end %>
